---
Checks: >
  -*,
  bugprone-*,
  cert-*,
  cppcoreguidelines-*,
  modernize-*,
  performance-*,
  portability-*,
  readability-*,
  clang-analyzer-*,
  -cppcoreguidelines-pro-bounds-pointer-arithmetic,
  -cppcoreguidelines-pro-type-union-access,
  -modernize-use-trailing-return-type,
  -readability-magic-numbers,
  -bugprone-easily-swappable-parameters

WarningsAsErrors: '*'

HeaderFilterRegex: '.*/(fengine|fsamples)/.*'

CheckOptions:
  # Class / Struct / Typedef / Enum
  readability-identifier-naming.ClassCase: CamelCase
  readability-identifier-naming.StructCase: CamelCase
  readability-identifier-naming.TypedefCase: CamelCase
  readability-identifier-naming.EnumCase: CamelCase
  readability-identifier-naming.EnumConstantCase: CamelCase

  # Functions & Variables
  readability-identifier-naming.FunctionCase: camelBack
  readability-identifier-naming.VariableCase: camelBack
  readability-identifier-naming.ParameterCase: camelBack

  # Members (m_ prefix)
  readability-identifier-naming.MemberCase: camelBack
  readability-identifier-naming.MemberPrefix: m_

  # Globals
  readability-identifier-naming.GlobalConstantCase: UPPER_CASE
...
