# CMake
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile
*.cmake
build/
dist/

# Dependencies
_deps/
vcpkg_installed/
.cache/

# IDE/Editor
.vscode/
.idea/
*.code-workspace
.DS_Store

# Build artifacts
*.o
*.a
*.so
*.dylib
*.dll
*.exe
*.pdb

# Compilation database
compile_commands.json

/.vs/pnkr.slnx/FileContentIndex/193f8b79-ebcd-4294-bf35-e88c22b08395.vsidx
/.vs/pnkr.slnx/FileContentIndex/49dfc9c6-8f65-4395-99af-88ab9f530526.vsidx
/.vs/pnkr.slnx/FileContentIndex/53b81779-0072-4980-a34c-981983902a77.vsidx
/.vs/pnkr.slnx/FileContentIndex/81b3e57a-cb3e-4983-b790-41bdfe928239.vsidx
/.vs/pnkr.slnx/FileContentIndex/d185f539-dfaf-43b4-9e52-3886fd3fd24a.vsidx
/.vs/pnkr.slnx/v18/ipch/AutoPCH/cad77e87c31d9941/RENDERER.ipch
/.vs/pnkr.slnx/v18/.wsuo
/.vs/pnkr.slnx/v18/Browse.VC.db
/.vs/pnkr.slnx/v18/Browse.VC.db-shm
/.vs/pnkr.slnx/v18/Browse.VC.db-wal
/.vs/pnkr.slnx/v18/DocumentLayout.backup.json
/.vs/pnkr.slnx/v18/DocumentLayout.json
/.vs/CMake Overview
/.vs/ProjectSettings.json
/.vs/slnx.sqlite
/.vs/VSWorkspaceState.json
